.App {
  text-align: center;
}

.fetchBtn
{
  font-size: 1.6vw;
  font-weight: bolder;
  border: none;
  background-color: rgb(6, 123, 166);
  color: white;
  cursor: pointer;
  padding: 1% 0%;
  border-radius: 4px;
  width: 50%;
  margin: 5% 0%;
}

.resultTable
{
  width: 80%;
  margin: auto;
}

.rowFlex
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rowFlex p
{
  width: 20%;
  margin: 1% 0%;
  font-size: 1.3vw;
  font-weight: bolder;
}